<!DOCTYPE html>
<html>
<head>
	<title>Samurai Courses - Course</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../../css/bootstrap.css" rel="stylesheet">
	<link href="../../css/bootstrap theme/bootstrap-theme.css" rel="stylesheet">
	<link href="../../css/homepage.css" rel="stylesheet">
	<link href="../../css/explore.css" rel="stylesheet">
	<link rel="icon" type="../image/png" href="favicon.png">
	<link rel="shortcut icon" type="../image/png" href="favicon.png">      
</head>

<body>
	<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
	<!-- p means paragraph -->
	{{> navbar}}

	<div class="container">
		<div class="jumbotron">
			<h1>Course Description</h1>
			<p>{{sub}}{{num}}</p>
		</div>

		<div class="container">
			<h2>{{name}}</h2>
			<p>{{description}}</p>
		</div>


		<br><br>
		<!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
		<!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
		<!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the browser where to go when the user clicks -->
		
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../../js/bootstrap.js"></script>
</body>
</html>