<!doctype html>

<html>
<head>
	<title>Samurai Courses - Explore</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../css/homepage.css" rel="stylesheet">
	<link href="../css/explore.css" rel="stylesheet">
	<link rel="icon" type="../image/png" href="favicon.png">
	<link rel="shortcut icon" type="../image/png" href="favicon.png">      
</head>

<body>
	<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
	<!-- p means paragraph -->
	{{> navbar}}

	<div class="container">
		<div class="jumbotron">
			<h1>Explore</h1>
			<p>Look around and see if a course fits in your schedule</p>
		</div>

		<div class="alpha-search">
			<ul>
				<li><a href="#A">A</a></li>
				<li><a href="#B">B</a></li>
				<li><a href="#C">C</a></li>
				<li><a href="#D">D</a></li>
				<li><a href="#E">E</a></li>
				<li><a href="#F">F</a></li>
				<li><a href="#G">G</a></li>
				<li><a href="#H">H</a></li>
				<li><a href="#I">I</a></li>
				<li><a href="#J">J</a></li>
				<li><a href="#K">K</a></li>
				<li><a href="#L">L</a></li>
				<li><a href="#M">M</a></li>
				<li><a href="#N">N</a></li>
				<li><a href="#O">O</a></li>
				<li><a href="#P">P</a></li>
				<li><a href="#Q">Q</a></li>
				<li><a href="#R">R</a></li>
				<li><a href="#S">S</a></li>
				<li><a href="#T">T</a></li>
				<li><a href="#U">U</a></li>
				<li><a href="#V">V</a></li>
				<li><a href="#W">W</a></li>
				<li><a href="#X">X</a></li>
				<li><a href="#Y">Y</a></li>
				<li><a href="#Z">Z</a></li>
			</ul>
		</div>

		<div class="class-container">
			{{#each all_subjects}}
			<a id="{{id}}" href="subject/{{abrv}}">({{abrv}}) {{name}}</a>
			</br>
			{{/each}}
		</div>
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/explore.js"></script>
</body>
</html>
