<!doctype html>

<html>
<head>
	<title>Samurai Courses</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{> styles}}
	<link href="../css/homepage.css" rel="stylesheet">

	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	{{> navbar}}
	<div class="container">
		<h1>Help Page</h1><br>
		<p>
		This app is for generating course combinations and to help you more easily visualize them. Go to Create Schedule and begin entering classes you want to take together. In the end, the app will generate a list of possible schedules you can have with those classes, some combination does exist.
		</p>
		<p>
		You can check out details about a class by clicking on it.
		</p>
		<p>
		You can remove a class you no longer want by clicking on it and pressing Remove Class.
		</p>
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../js/bootstrap.js"></script>
</body>
</html>
