<!doctype html>

<html>
<head>
	<title>Samurai Courses</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{> styles}}
	<link href="css/homepage.css" rel="stylesheet">
	<link rel="icon" type="image/png" href="favicon.png">
	<link rel="shortcut icon" type="image/png" href="favicon.png">

	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Samurai Courses</h1>
			<p>Simple Scheduling</p>
		</div>

		<div class="button-gp">
			<a href="create"><button type="button" class=" btn btn-primary btn-lg">Create schedule</button></a>
		</div>
		<div class="button-gp">
			<button type="button" class=" btn btn-primary btn-lg disabled">View Schedule</button>
		</div>
		<div class="button-gp">
			<a href="explore"><button type="button" class=" btn btn-primary btn-lg">Explore Courses</button></a>
		</div>
		<div class="button-gp">
			<a href="about"><button type="button" class="btn btn-info btn-lg half-width">Who We Are</button></a>
			<a href="help"><button type="button" class="btn btn-info btn-lg half-width pull-right">Help</button></a>
		</div>
		
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	{{> googleAnalytics}}
</body>
</html>
