.alpha-search ul
{
    list-style-type: none;
	right: 0;
	top:0;
	position: fixed;
	height:100%;
}

.alpha-search ul li
{	
	height: 3.84615384615%;
	min-height: 20px;
	display: block;
}

.alpha-search ul li a, .alpha-search ul li a:hover, .alpha-search ul li a:active, .alpha-search ul li a:visited
{
	padding-top:50%;
	display: block;
	text-decoration:none;
	color:gray;
	text-align:center;
	width:30px;
}

.class-container{
	padding: 10px;
}

.class-container span{
	color: #6E4949;
}