.button-gp {
	margin: 10px auto;
}

.button-gp button{
	width: 100%;
}

.button-gp .half-width{
	width: 49%;
}

.nav-back a.navbar-brand{
	border: 4px inset #EEEEEE;
}
@media only screen and (min-width: 550px) {
	.button-gp {
		margin: 10px auto;
		width: 400px;
	}
}

